 		<div class="modal-header">
       		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 
			<h4 class="modal-title">Create a new rule</h4>
		</div>
				  
		<div class="modal-body">
		  	<form class="form-horizontal" role="form">
		  		<!-- Rule Description -->
				<div class="form-group">
					<label class="col-sm-2 control-label" for="description">Description</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="description" ng-model="description"
							   ng-init="description ='<Write a custom description for your rule here>'"/>
					</div>
				</div>
				
				<p>Configure the condition(s) that should be met ...</p>
				
				<!-- Conditions -->
				<div class="row" ng-repeat="condition in conditions">
					<button ng-hide="$index==0" type="button" class="rule-button" ng-click="removeCondition($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				
          			<label class="col-sm-2 control-label">Condition</label>
					<br/>

          			<div class="col-sm-6">
          				<div class="form-group">
							<label class="col-sm-2 control-label">Thing</label>
							          			
	          				<div class="col-sm-10">	
	          					<select class="form-control" ng-model="condition.thing" 
	          						ng-options="thing.name for (id, thing) in things"
	          						ng-change="conditionThingChange(condition)">
	          						<option value="">&lt;Select a Thing&gt;</option>
	          					</select>
	          				</div>
          				</div>
          				
          				<div class="form-group">	
	          				<label class="col-sm-2 control-label">Variable</label>
	          				<div class="col-sm-10">
	          					<select class="form-control" ng-model="condition.variable" 
	          						ng-options="variable for variable in condition.variables">
	          						<option value="">&lt;Select a state variable&gt;</option>
	          					</select>
	          				</div>
          				</div>
          			
          				<div class="form-group">
          					<label class="col-sm-2 control-label">Operator</label>
	          				<div class="col-sm-10">
		          				<select class="form-control" ng-model="condition.operator">
		          					 <option value="">&lt;Select an operator&gt;</option>
		          					 <option value="BECOMES">BECOMES</option>
		          					 <option value="IS">IS</option>
		          					 <option value="IS_NOT">IS NOT</option>
		          					 <option value="IS_GREATER">IS GREATER THAN</option>
		          					 <option value="IS_LESS">IS LESS THAN</option>
		          					 <option value="CHANGES">CHANGES</option>
		          				</select>
	          				</div>
          				</div>
          				
          				<div class="form-group" ng-hide="condition.operator=='CHANGES'">
	          				<label class="col-sm-2 control-label">Value</label>
	          				<div class="col-sm-10">
	          					<input type="text" class="form-control" ng-model="condition.value"/>
							</div>  
						</div>  
          			</div>
          			<div class="col-sm-4">
      					<div class="icon icon-{{condition.thing.type}}"></div>
	          			<div class="name">{{condition.thing.name}}</div>
          			</div>
          			
          		</div>
          		<button type="button" class="rule-button" ng-click="addCondition()"><span aria-hidden="true">&#43;</span><span class="sr-only">Add</span></button>
          		
          		<br/>
          		<br/>
          		
          		<p> ... resulting in the following action(s)</p>
          		
          		
          		<!-- Actions -->
          		<div class="row" ng-repeat="action in actions">
          			<button ng-hide="$index==0" type="button" class="rule-button" ng-click="removeAction($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          		
          			<label class="col-sm-2 control-label">Action</label>
					<br/>

          			<div class="col-sm-6">
          				<div class="form-group">
							<label class="col-sm-2 control-label">Thing</label>
							          			
	          				<div class="col-sm-10">	
	          					<select class="form-control" ng-model="action.thing" 
	          						ng-options="thing.name for (id, thing) in things"
	          						ng-change="actionThingChange(action)">
	          						<option value="">&lt;Select a Thing&gt;</option>
	          					</select>
	          				</div>
          				</div>
          				
          				<div class="form-group">	
	          				<label class="col-sm-2 control-label">Method</label>
	          				<div class="col-sm-10">
	          					<select class="form-control" ng-model="action.method" 
	          						ng-options="method for method in action.methods">
	          						<option value="">&lt;Select a method&gt;</option>
	          					</select>
	          				</div>
          				</div>
          				
          				<div class="form-group">
	          				<label class="col-sm-2 control-label">Arguments</label>
	          				<div class="col-sm-10">
	          					<input type="text" class="form-control" ng-model="action.arguments"/>
							</div>  
						</div> 
          			</div>
          			<div class="col-sm-4">
      					<div class="icon icon-{{action.thing.type}}"></div>
	          			<div class="name">{{action.thing.name}}</div>
          			</div>
          			
          		</div>
          		<button type="button" class="rule-button" ng-click="addAction()"><span aria-hidden="true">&#43;</span><span class="sr-only">Add</span></button>
          		
          		<br/>
          		<br/>
          	</form>
		</div>
				  
		<div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
		</div>