 		<div class="modal-header">
       		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 
			<h4 class="modal-title">Configure rule</h4>
		</div>
				  
		<div class="modal-body">
		  	<form class="form-horizontal" role="form">
		  		<!-- Rule Description -->
				<div class="form-group">
					<label class="col-sm-2 control-label" for="description">Description</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="description" ng-model="description"/>
					</div>
				</div>
				<!-- Source/Destination Thing -->
				<div class="form-group"><!-- Source Thing -->
          			<label class="col-sm-2 control-label" for="sourceSelect">Source</label>
          			<div class="col-sm-4">	
          				<select class="form-control" id="sourceSelect" ng-model="source" 
          					ng-options="thing.name for (id, thing) in things"></select>
          			
          				<div class="icon icon-{{source.type}}"></div>
          				<div class="name">{{source.name}}</div>
          			</div>

					<label class="col-sm-2 control-label" for="destinationSelect">Destination</label>
					<div class="col-sm-4">
          				<select class="form-control" id="destinationSelect" ng-model="destination" 
          					ng-options="thing.name for (id, thing) in things"></select>
          			
          				<div class="icon icon-{{destination.type}}"></div>
          				<div class="name">{{destination.name}}</div>
          			</div>
          		</div>
          		<!-- Rule selection -->
          		<div class="form-group">
					<label class="col-sm-2 control-label" for="ruleSelect">Rule:</label>
					<div class="col-sm-10">
						<select class="form-control" id="ruleSelect" multiple ng-multiple="false" 
							ng-model="template" ng-options="rule.description for rule in templates | ruleFilter:source:destination"></select>
					</div>
          		</div>	
          	</form>
		</div>
				  
		<div class="modal-footer">
			<button class="btn" ng-click="advanced()">Advanced</button>
            <button class="btn btn-primary" ng-click="ok()">Save</button>
		</div>