<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An intuitive and user friendly user interface for managing Interet devices.">
	<meta name="keywords" content="Aiolos, Dyamand, IoT, Internet of Things">
	<meta name="author" content="Tim Verbelen and Elias De Coninck">
    <title>Your Internet of Things</title>

	<link rel="stylesheet" type="text/css" href="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.css">
	<!--  for now fix code the icons css here, not yet working with the enRoute webresources -->
	<link rel="stylesheet" type="text/css" href="/be.iminds.iot.firefly/icons/icons.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body ng-app="be.iminds.iot.firefly" ng-controller="ThingsCtrl">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

          <header class="navbar-fixed-top custom-navbar">
            <div class="inner">
              <h3 class="masthead-brand">Your Internet of Things</h3>
            </div>
            
           <nav class='controls'>
                <ul id="locations" class="nav masthead-nav control-group">
                	<li><a ng-click="filters.location = ''" ng-class="{active: filters.location === ''}" >All</a></li>
                	<li ng-repeat="(l, location) in locations"><a ng-click="filters.location = location" ng-class="{active: filters.location === location}">{{location}}</a></li>
                </ul>
            </nav>
          </header>

		  <!--  Things container -->
          <div class="container">
	          <div id="things" class="row">
	          		<div ng-repeat="(id, thing) in things | mapFilter:filters"	       	
	          			 on-longclick="dialog(id)" on-click="action(id)"
	          			 id="{{thing.id}}" class="thing col-xs-12 col-sm-6 col-md-4 col-lg-2 {{thing.type}}">
						<div class="row vertical-align">
							<div class="col-xs-6 icon icon-{{thing.type}} {{thing.state | lowercase}}"></div>
							<div class="col-xs-6 state">{{thing.state}}</div>
						</div>
						<div class="name">{{thing.name}}</div>
					</div>
	          </div>
          </div>
          
		  <footer class="navbar-fixed-bottom custom-footer">
		  	<img class="footer-image" src="images/iminds_white.png" />
            <div class="inner">
              <p>&copy; ${def;Bundle-Vendor;Company}, ${tstamp;YYYY}</p>
            </div>
          </footer>
       </div>
    </div>
  
  	<!-- All .js is loaded using the enRoute webresource mechanism -->
	<script src="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.js"></script>

</body>
</html>
