/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #555;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  padding: 196px 0 90px 0;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
 .custom-navbar {
 	background-color: #333;
    box-shadow: 0 0 100px rgba(0,0,0,.5);
 }
 
.masthead-brand {
  margin: auto 0;
}

/*
 * Icon menu
 */
 .menu-nav {
 	margin-top: 25px;
 	padding: 0;
 }
.menu-nav > li {
  display: inline-block;
  margin: 0 10px;
}
.menu-nav > li > a {
  color: #fff; /* IE8 proofing */
}
.menu-nav > li > a:hover,
.menu-nav > li > a:focus {
  background-color: transparent;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > li > a.active,
.masthead-nav > li > a.active:hover,
.masthead-nav > li > a.active:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .menu-nav {
  	margin-top: 0; 
  	padding-left: 20px;
	float: left;
  }
  .masthead-nav {
    float: right;
  }
}

@media (min-width: 992px) {
	.custom-navbar {
	  	padding: 0 5%;
	  }
}

/*
 * Thing layout
 */
.thing {
 	padding: 20px;
 	overflow: hidden;
 	word-break: break-all;
 	max-height: 250px;
} 

.icon {
	font-size: 800%;
}

.icon-small {
	font-size: 200%;
}

.name {
	font-size: 200%;
	font-style: bold;
	align: center;
} 
.state {
	font-size: 130%;
	text-transform: uppercase;
}


/*
 * Footer
 */

footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  box-shadow: 0 0 100px rgba(0,0,0,.5);
}

.custom-footer {
	background-color: #333;
}

.footer-image {
	float: right;
	margin: 0px 10px 0px 10px;
	height: 75px;
}

/*
 * Modal
 */ 
.modal{
	color: #333;
	text-shadow: none;
} 


/*
 * Affix and center
 */

@media (min-width: 768px) {
	.site-wrapper {
	  padding: 74px 0 90px 0;
	}
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

@media (min-width: 1600px) {
	.container {
		width: 1600px;
	}
}