@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?o57jyy');
	src:url('icomoon.eot?#iefixo57jyy') format('embedded-opentype'),
		url('icomoon.woff?o57jyy') format('woff'),
		url('icomoon.ttf?o57jyy') format('truetype'),
		url('icomoon.svg?o57jyy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e623";
}
.icon-tablet:before {
	content: "\e624";
}
.icon-monitor:before {
	content: "\e626";
}
.icon-tv:before {
	content: "\e628";
}
.icon-camera:before {
	content: "\e629";
}
.icon-coffee:before {
	content: "\e636";
}
.icon-alarmclock:before {
	content: "\e65a";
}
.icon-check:before {
	content: "\e65f";
}
.icon-cancel:before {
	content: "\e660";
}
.icon-gamepad:before {
	content: "\e671";
}
.icon-phone2:before {
	content: "\e674";
}
.icon-microwave:before {
	content: "\e687";
}
.icon-locked:before {
	content: "\e697";
}
.icon-unlocked:before {
	content: "\e698";
}
.icon-battery:before {
	content: "\e6ae";
}
.icon-battery2:before {
	content: "\e6af";
}
.icon-battery3:before {
	content: "\e6b0";
}
.icon-battery4:before {
	content: "\e6b1";
}
.icon-temperature:before {
	content: "\e6b8";
}
.icon-lamp:before {
	content: "\e6b9";
}
.icon-diamond:before {
	content: "\e6bf";
}
.icon-button:before {
	content: "\e6c3";
}
.icon-tools:before {
	content: "\e6d6";
}
.icon-chat:before {
	content: "\e6dc";
}
.icon-comments:before {
	content: "\e6dd";
}
.icon-chat2:before {
	content: "\e6de";
}
.icon-chat3:before {
	content: "\e6df";
}
.icon-volume:before {
	content: "\e6e0";
}
.icon-volume2:before {
	content: "\e6e1";
}
.icon-volume3:before {
	content: "\e6e2";
}
.icon-reply:before {
	content: "\e6ff";
}
.icon-forward:before {
	content: "\e700";
}
.icon-heart:before {
	content: "\e719";
}
.icon-rain:before {
	content: "\e71d";
}
.icon-snow:before {
	content: "\e71e";
}
.icon-lightning:before {
	content: "\e71f";
}
.icon-sun:before {
	content: "\e720";
}
.icon-moon:before {
	content: "\e721";
}
.icon-cloudy:before {
	content: "\e722";
}
.icon-cloudy2:before {
	content: "\e723";
}
.icon-usb:before {
	content: "\e758";
}
.icon-door:before {
	content: "\e969";
}
.icon-home2:before {
	content: "\e75f";
}
.icon-window:before {
	content: "\e76a";
}
.icon-connection:before {
	content: "\e77a";
}
.icon-spinner:before {
	content: "\e7d6";
}
.icon-spinner2:before {
	content: "\e7d7";
}
.icon-spinner3:before {
	content: "\e7d8";
}
.icon-spinner4:before {
	content: "\e7d9";
}
.icon-spinner5:before {
	content: "\e7da";
}
.icon-search:before {
	content: "\e7dd";
}
.icon-zoomin:before {
	content: "\e7de";
}
.icon-zoomout:before {
	content: "\e7df";
}
.icon-cog3:before {
	content: "\e7ec";
}
.icon-pie:before {
	content: "\e7f3";
}
.icon-stats3:before {
	content: "\e7f4";
}
.icon-bars:before {
	content: "\e7f5";
}
.icon-remove2:before {
	content: "\e806";
}
.icon-numbered-list:before {
	content: "\e814";
}
.icon-menu:before {
	content: "\e815";
}
.icon-menu2:before {
	content: "\e816";
}
.icon-arrow-up-left:before {
	content: "\e87d";
}
.icon-arrow-up:before {
	content: "\e87e";
}
.icon-arrow-up-right:before {
	content: "\e87f";
}
.icon-arrow-right:before {
	content: "\e880";
}
.icon-arrow-down-right:before {
	content: "\e881";
}
.icon-arrow-down:before {
	content: "\e882";
}
.icon-arrow-down-left:before {
	content: "\e883";
}
.icon-arrow-left:before {
	content: "\e884";
}
.icon-filter:before {
	content: "\e89d";
}
.icon-light:before {
	content: "\e829";
}
.icon-motion:before {
	content: "\e68f";
}
.icon-person:before {
	content: "\e80b";
}
